html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.4;
		letter-spacing: 1.4px;
		font-size: 16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* header */

.header {
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 24px;
	background-color: transparent;
}

.header-white {
	background-color: white;
}

.header-box {
	max-width: 1024px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.header-logo {
	height: 22px;
}

.header-right {
	display: flex;
}

.header-nav {
	margin-left: 50px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}

.header-nav:hover {
	border-bottom: 1px solid #D3AB39;
}

/* index */

.index-bg {
	width: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

/* main */

.main {

}

.main-box {
	display: flex;
	padding: 80px 0px;
}

.main-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 40%;
}

.main-left-box {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-logo {
	width: 150px;
}

.main-text {
	margin-top: 63px;
	text-align: center;
}

.main-btn {
	margin-top: 27px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.main-btn:hover {
	opacity: 0.8;
}

.main-btn-img {
	width: 86px;
	transform: translate(12px, -8px);
	cursor: pointer;
}

.main-btn-img:hover {
	opacity: 0.8;
}

.main-right {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.swiper1 {
	max-width: 800px;
	width: 100%;
	height: 600px;
}

.main-rotate {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.main-rotate-1 {
	background-image: url('../img/landing/landing1.png');
}

.main-rotate-2 {
	background-image: url('../img/landing/landing2.png');
}

.main-rotate-3 {
	background-image: url('../img/landing/landing3.png');
}

.main-rotate-4 {
	background-image: url('../img/landing/landing4.png');
}

.main-bottom-bg {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	background-image: url('../img/first-bg2.png');
	
}

/* video */

.video {
  padding: 70px 0px 82px;
}

.video-box {
	max-width: 956px;
	position: relative;
	margin: auto;
	border: 1px solid #8D9567;
	border-top: 0px solid;
	padding: 9px 66px 33px;
}

.video-box::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 1px;
	background-color: #8D9567;
}

.video-box::after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 1px;
	background-color: #8D9567;
}

.video-rotate-box {
	position: absolute;
	top: -140px;
	right: 33px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.swiper2 {
	width: 647px;
	height: 326px;
}

.video-rotate {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.video-rotate-1 {
	background-image: url('../img/video/video1.jpg');
}

.video-rotate-2 {
	background-image: url('../img/video/video2.jpg');
}

.video-head {
	width: 295px;
	font-size: 32px;
	font-weight: bold;
}

.video-text {
	width: 295px;
	margin-top: 24px;
	font-size: 14px;
}



/* article */

.article {
	position: relative;
	margin: auto;
	padding: 82px 0px 33px;
	background-color: #DDE0D1;
}

.article-logo-box {
  position: relative;
	text-align: center;
}

.article-logo {
  position: absolute;
	transform: translate(-8px, -9px);
	width: 150px;
	z-index: 0;
}

.article-logo-text {
	position: relative;
	font-size: 36px;
	font-weight: bold;
}

.article-logo-text::after {
	content: '專區';
	color: white;
}

.article-box {
	display: flex;
	max-width: 1023px;
	margin: 64px auto 0px;
}

.article-box-reverse {
	justify-content: flex-end;
}

.article-text-box {
	position: relative;
	width: 388px;
	height: 158px;
	padding: 24px 26px 38px;
	background-color: white;
	box-shadow: 0px 4px 12px rgb(0 0 0 / 12%);
	z-index: 1;
}

.article-head {
	position: relative;
	width: 230px;
	font-size: 18px;
	font-weight: bold;
}

.article-head-img {
	position: absolute;
	top: 48px;
	width: 220px;
	z-index: 0;
}

.article-head-img-last {
	top: 30px;
}

.article-text {
	width:330px;
	margin-top: 12px;
	font-size: 14px;

}

.article-btn {
	margin-top: 26px;
	font-weight: bold;
	font-size: 14px;
	transform: translate(10px, 8px);
	cursor: pointer;
}

.article-btn:hover {
	opacity: 0.8;
}

.article-btn-img {
	width: 86px;
	cursor: pointer;
}

.article-btn-img:hover {
	opacity: 0.8;
}

.article-img {
	position: absolute;
	width: 625px;
	margin-left: 400px;
	transform: translateY(-12px);
}

.article-img-reverse {
	margin-left: 0px;
	margin-right: 400px;
}

.article-top {
	position: relative;
	text-align: right;
  margin: 40px 65px 0px 0px;
	z-index: 2;
}

.article-top-img {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.article-top-img:hover {
	opacity: 0.8;
}

.article-bg {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 400px;
	z-index: 0;
}


/* footer */

.footer {
  background-color: #8E9868;
	padding: 15px 0px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}

.footer-text {
    
}
