html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.4;
		letter-spacing: 1.4px;
		font-size: 16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a,a:link,a:visited{color:black;text-decoration: none}
a:hover{color:black;background-color: none;text-decoration: none;}
a,a:link,a:visited{color:black}

/* header */

.header {
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 24px 0px;
	background-color: transparent;
}

.header-white {
	background-color: white;
}

.header-box {
	max-width: 1024px;
	width: (100% -48px);
	padding: 0px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.header-logo {
	height: 22px;
}

.header-right {
	display: flex;
}

.header-nav {
	margin-left: 50px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}

.header-nav:hover {
	border-bottom: 1px solid #D3AB39;
}

.header-menu {
	display: none;
}

.header-rwd {
	display: none;
}



/* index */

.index-bg {
	width: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

/* main */

.main {
	padding-top: 80px;
}

.main-rwd-logo {
	display: none;
}

.main-box {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
}

.main-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	width: 40%;
}

.main-left-box {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-logo {
	width: 150px;
}

.main-text {
	margin-top: 63px;
	text-align: center;
}

.main-btn {
	margin-top: 27px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.main-btn:hover {
	opacity: 0.8;
}

.main-btn-img {
	width: 86px;
	transform: translate(12px, -8px);
	cursor: pointer;
}

.main-rwd-btn-img {
	display: none;
}

.main-btn-img:hover {
	opacity: 0.8;
}

.main-right {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.swiper1 {
	max-width: 800px;
	width: 100%;
	height: 600px;
}

.main-rotate {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.main-rotate-1 {
	background-image: url('../img/landing/landing1.png');
}

.main-rotate-2 {
	background-image: url('../img/landing/landing2.png');
}

.main-rotate-3 {
	background-image: url('../img/landing/landing3.png');
}

.main-rotate-4 {
	background-image: url('../img/landing/landing4.png');
}

.main-rotate-5 {
	background-image: url('../img/landing/landing5.png');
}

.main-bottom-bg {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	background-image: url('../img/first-bg2.png');
	
}

/* video */

.video {
  padding: 70px 0px 82px;
}

.video-box {
	max-width: 956px;
	position: relative;
	margin: auto;
	border: 1px solid #8D9567;
	border-top: 0px solid;
	padding: 9px 66px 33px;
}

.video-box::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 1px;
	background-color: #8D9567;
}

.video-box::after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 1px;
	background-color: #8D9567;
}

.video-rotate-box {
	position: absolute;
	top: -140px;
	right: 33px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.swiper2 {
	width: 647px;
	height: 326px;
}

.video-rotate {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	cursor: pointer;
}

.video-rotate-1 {
	background-image: url('../img/video/video1.jpg');
}

.video-rotate-2 {
	background-image: url('../img/video/video2.jpg');
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	background: #FFFFFF;
    opacity: 0.32;
}

.swiper-pagination-bullet-active {
	opacity: 1 !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url('../img/left_arrow.png');
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	cursor: pointer;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next:hover {
	opacity: 0.8;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url('../img/right_arrow.png');
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	cursor: pointer;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev:hover {
	opacity: 0.8;
}

.video-head {
	width: 295px;
	font-size: 32px;
	font-weight: bold;
}

.video-text {
	width: 295px;
	margin-top: 24px;
	font-size: 14px;
}



/* article */

.article {
	position: relative;
	margin: auto;
	padding: 82px 0px 33px;
	background-color: #DDE0D1;
}

.article-logo-box {
  position: relative;
	text-align: center;
}

.article-logo {
  position: absolute;
	transform: translate(-8px, -9px);
	width: 150px;
	z-index: 0;
}

.article-logo-text {
	position: relative;
	font-size: 36px;
	font-weight: bold;
}

.article-logo-text::after {
	content: '專區';
	color: white;
}

.article-box {
	display: flex;
	max-width: 1023px;
	margin: 64px auto 0px;
}

.article-box-reverse {
	justify-content: flex-end;
}

.article-text-box {
	position: relative;
	width: 388px;
	height: 158px;
	padding: 24px 26px 38px;
	background-color: white;
	box-shadow: 0px 4px 12px rgb(0 0 0 / 12%);
	z-index: 1;
}

.article-head {
	position: relative;
	width: 230px;
	font-size: 18px;
	font-weight: bold;
}

.article-head-img {
	position: absolute;
	top: 48px;
	width: 220px;
	z-index: 0;
}

.article-head-img-last {
	top: 30px;
}

.article-text {
	width:330px;
	margin-top: 12px;
	font-size: 14px;

}

.article-btn {
	margin-top: 26px;
	font-weight: bold;
	font-size: 14px;
	transform: translate(10px, 8px);
	cursor: pointer;
}

.article-btn:hover {
	opacity: 0.8;
}

.article-btn-img {
	width: 86px;
	cursor: pointer;
}

.article-btn-img:hover {
	opacity: 0.8;
}

.article-img {
	position: absolute;
	width: 625px;
	margin-left: 400px;
	transform: translateY(-12px);
}

.article-img-reverse {
	margin-left: 0px;
	margin-right: 400px;
}

.article-top {
	position: relative;
	text-align: right;
  margin: 40px 65px 0px 0px;
	z-index: 2;
}

.article-top-img {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.article-top-img:hover {
	opacity: 0.8;
}

.article-bg {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 400px;
	z-index: 0;
}


/* footer */

.footer {
  background-color: #8E9868;
	padding: 15px 0px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}

@media( max-width: 1023px ){

.body {

}

/* header */

.header {
	
}

.header-white {
	
}

.header-box {
	
}

.header-logo {
	
}

.header-right {
	
}

.header-nav {
	
}

.header-nav:hover {
	
}

/* index */

.index-bg {
	
}

/* main */

.main {

}

.main-box {
	
}

.main-left {
	width: 35%;
}

.main-left-box {
	
}

.main-logo {
	
}

.main-text {
	
}

.main-btn {
	
}

.main-btn-img {
	
}

.main-right {
	width: 60%;
}


.main-rotate {
	
}

.main-rotate-1 {
	
}

.main-rotate-2 {
	
}

.main-rotate-3 {
	
}

.main-rotate-4 {
	
}

.main-rotate-5 {
	
}

.main-bottom-bg {
	
	
}

/* video */

.video {
	padding: 50px 0px 76px;
}

.video-box {
	max-width: 524px;
	padding: 244px 109px 50px;
}

.video-box::before {
	
}

.video-box::after {
	
}

.video-rotate-box {
	top: -140px;
	right: 50px;
}

.swiper2 {
	
}

.video-rotate {
	
}

.video-rotate-1 {
	
}

.video-rotate-2 {
	
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	
}

.swiper-pagination-bullet-active {
	
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	
}

.video-head {
	width: 100%;
	text-align: center;
}

.video-text {
	width: 100%;
	margin-top: 32px;
	text-align: center;
}



/* article */

.article {
	
}

.article-logo-box {
	
}

.article-logo {
	
}

.article-logo-text {
	
}

.article-box {
	margin: 80px auto 0px;
	margin-left: 60px;
}

.article-box-reverse {
	margin-left: 0px;
	margin-right: 60px;
}

.article-text-box {
	width: 326px;
	padding: 24px 24px 24px; 
}

.article-head {
	
}

.article-head-img {
	
}

.article-head-img-last {
	
}

.article-text {
	

}

.article-btn {
	
}

.article-btn-img {
	
}

.article-img {
	right: 60px;
	margin-left: 0px;
	transform: translateY(-20px);
}

.article-img-reverse {
	left: 60px;
	margin-left: 0px;
	margin-right: 60px;
}

.article-top {
	margin: 40px 40px 0px 0px;
}

.article-top-img {
	
}

.article-bg {
	
}


/* footer */

.footer {
	
}


}

@media( max-width: 760px ){


.body {

}

/* header */

.header {
	
}

.header-white {
	
}

.header-box {
	
}

.header-logo {
	height: 20px;
}

.header-right {
	display: none;
}

.header-nav {
	
}

.header-nav:hover {
	
}

.header-menu {
	display: block;
	width: 32px;
	height: 28px;
}

.header-rwd {
    position: fixed;
    width: 100%;
    height: 100vh;
		z-index: 3;
}

.header-wrd-white {
	background: #FFFCFC;
	padding: 24px 24px 31px;
	text-align: right;
}

.header-rwd-close {
	width: 28px;
	height: 28px;
	margin-bottom: 50px;
}

.header-rwd-nav {
	margin-bottom: 35px;
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.header-rwd-opacity {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}

/* index */

.index-bg {
	display: none;
}

/* main */

.main {

}

.main-rwd-logo {
	display: block;
	width: 150px;
	margin: 0px auto 0px;
}

.main-box {
	position: relative;
	padding-bottom: 0px;
}

.main-left {
	position: absolute;
	width: 100%;
	height: 384px;
	color: white;
	z-index: 2;
}

.main-left-box {
	
}

.main-logo {
	display: none;
}

.main-text {
	font-size: 14px;
}

.main-btn {
	margin-top: 33px;
}

.main-btn-img {
	display: none;
}

.main-rwd-btn-img {
	display: block;
}

.main-right {
	width: 100%;
	transform: translateY(-40px);
}

.swiper1 {
	height: 500px;
}

.main-rotate {
	
}

.main-rotate-1 {
	background-image: url('../img/landing/landingBlack1.png');
}

.main-rotate-2 {
	background-image: url('../img/landing/landingBlack2.png');
}

.main-rotate-3 {
	background-image: url('../img/landing/landingBlack3.png');
}

.main-rotate-4 {
	background-image: url('../img/landing/landingBlack4.png');
}

.main-rotate-5 {
	background-image: url('../img/landing/landingBlack5.png');
}

.main-bottom-bg {
	height: 100px;
	margin-bottom: -90px;
	transform: translateY(-90px);
}

/* video */

.video {
	padding: 0px 0px 25px;
}

.video-box {
	max-width: 100%;
	padding: 0px 0px;
	border: 0px;
}

.video-box::before {
	display: none;
}

.video-box::after {
	display: none;
}

.video-rotate-box {
	position: initial;
	transform: translateY(-40px);
}

.swiper2 {
	width: 311px;
    height: 156px;
}

.video-rotate {
	
}

.video-rotate-1 {
	
}

.video-rotate-2 {
	
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	
}

.swiper-pagination-bullet-active {
	
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	width: 15px;
	height: 15px;
	top: 60%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	width: 15px;
	height: 15px;
	top: 60%;
}

.video-head {
	width: calc(100% - 80px);
	font-size: 18px;
	padding: 0px 40px;
	transform: translateY(-24px);
}

.video-text {
	width: calc(100% - 80px);
	margin-top: 16px;
	padding: 0px 40px;
	font-size: 14px;
	transform: translateY(-24px);
}



/* article */

.article {
	padding: 45px 0px 0px;
}

.article-logo-box {
	
}

.article-logo {
	transform: translate(-5px, -9px);
    width: 96px;
}

.article-logo-text {
	font-size: 24px;
}

.article-box {
	flex-direction: column-reverse;
	align-items: center;
	margin: 0px;
}

.article-box-reverse {
	flex-direction: column;
	margin-right: 0px;
}

.article-text-box {
	width: calc(100% - 80px);
	height: 100%;
	margin: 0px 24px;
	padding: 23px 16px;
}

.article-head {
	
}

.article-head-img {
	
}

.article-head-img-last {
	
}

.article-text {
	width: 100%;
	margin-top: 41px;
}

.article-btn {
	margin-top: 15px;
}

.article-btn-img {
	
}

.article-img {
	position: initial;
	width: 310px;
	margin-top: 32px;
	transform: translateY(0px);
}

.article-img-reverse {
	margin-right: 0px;
}

.article-top {
	margin: 25px 24px 0px 0px;
	padding-bottom: 10px;
}

.article-top-img {
	
}

.article-bg {
	display: none;
}


/* footer */

.footer {
	
}

}